*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block{
    padding: 20px;
    border: 2px solid yellow;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.item{
    min-height: 90px;
    background: green;
}

.item:nth-of-type(1){
    grid-column: span 4;
    grid-row: span 2;
}

.item:nth-of-type(2){
    grid-column: span 2;
    grid-row: span 2;
}